body{ background-image: url("n3.jpg");}
.image
{
    margin: 10 100px ;
}
.image1{
    margin: 30 100px;
}
.image2{
    margin: 30 100px;
}
.info{
    margin: 100 100px;

margin-right:100px;

}
.info1{
margin: 100 100px;
margin-right:100px;

}
.info2{
margin: 100 100px;
margin-right:100px;
}